https://pynative.com/python-basic-exercise-for-beginners/

## Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

In [9]:
number_1 = 5
number_2 = 10
the_product = number_1 * number_2 
the_sum = number_1 + number_2 

if the_product >= 1000:
    print(the_product)
else:
    print(the_sum)

15

## Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [33]:
numbers = 0

for num in range(1, 11):                                                                          
    num_sum = numbers + 1
    print("The Current number is", num, "The Previous Number", numbers, "The Sum", numbers + num)
    numbers = num

The Current number is 1 The Previous Number 0 The Sum 1
The Current number is 2 The Previous Number 1 The Sum 3
The Current number is 3 The Previous Number 2 The Sum 5
The Current number is 4 The Previous Number 3 The Sum 7
The Current number is 5 The Previous Number 4 The Sum 9
The Current number is 6 The Previous Number 5 The Sum 11
The Current number is 7 The Previous Number 6 The Sum 13
The Current number is 8 The Previous Number 7 The Sum 15
The Current number is 9 The Previous Number 8 The Sum 17
The Current number is 10 The Previous Number 9 The Sum 19

## Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

In [34]:
def the_string(word):                              ### Create a function
    size = len(word)                               ### Generate a variable containing the lenght of the input
    for x in range(0, size, 2):                    ### Set a 'for loop' with range() function
        print("The index is[", x, "]", word[x])    ### Print the index, plus the desired character
        
the_string("DPRTSLD")

The index is[ 0 ] D
The index is[ 2 ] R
The index is[ 4 ] S
The index is[ 6 ] D

## Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

In [7]:
def remove(word, number):                          ### Create the function
    print("The original word is: ", word)
    new_word = word[number:]                       ### Create the new list, exlcuding the desired characters
    print("The new word is: ", new_word)

In [9]:
remove("123456789", 5)

The original word is:  123456789
The new word is:  6789

## Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [14]:
X = [10, 20, 30, 40, 10]                           ### Create the lists
Y = [75, 65, 35, 75, 30]

if X[0] == X[-1]:                                  ### Set the first condition for X
    print("The X list is:", True)
else:                                              ### Set the second condition for X
    print("The X list is:", False)
    
if Y[0] == Y[-1]:                                  ### Set the first condition for Y
    print("The X list is:", True)
else:                                              ### Set the second condition for Y
    print("The Y list is:", False)

The X list is: True
The Y list is: False

## Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [20]:
numbers = [10, 20, 33, 46, 55]
for num in numbers:
    if num % 5 == 0:
        print("The numbers divisible by 5 are", num)

The numbers divisible by 5 are 10
The numbers divisible by 5 are 20
The numbers divisible by 5 are 55

## Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

In [24]:
X = "Emma is good developer. Emma is a writer"
the_count = X.count("Emma")
print("The word Emma appears", the_count, "times")

The word Emma appears 2 times

## Exercise 8: Print the following pattern

In [ ]:
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

### First method

In [28]:
empty = []
for x in range(1, 6):
    empty.append(x)
    print(empty)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

### Second method

In [21]:
for num in range(6):
    for x in range(num):
        print (num, end=" ") 
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

## Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

### First method

In [41]:
numbers = input("Insert the number here: ")                 ### Create input
numbers_reversed = list(numbers)                            ### Convert the string into a list
numbers_reversed.reverse()                                  ### Reverse the list
numbers_reversed_join = "".join(numbers_reversed)           ### Join the list's elements
if numbers == numbers_reversed_join:                        ### Set the conditions
    print("The number", numbers, "is palindrome!")
else:
    print("The number", numbers, "is not palindrome!")

Insert the number here: 456
The number 456 is not palindrome!

### Second method

In [42]:
numbers = input("Insert the number here: ")                 ### Create input
if numbers == numbers[::-1]:                                ### Set the conditions
    print("The number", numbers, "is palindrome!")
else:
    print("The number", numbers, "is not palindrome!")

Insert the number here: 454
The number 454 is palindrome!

# Exercise 10: Create a new list from a two list using the following condition

Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [12]:
list_odd = [10, 20, 25, 30, 35]
list_even = [40, 45, 60, 75, 90]
list_3 = []

In [13]:
for num in list_odd:
    if num % 2 != 0:
        list_3.append(num)

In [14]:
list_3

[25, 35]

In [15]:
for num in list_even:
    if num % 2 == 0:
        list_3.append(num)

In [16]:
list_3

[25, 35, 40, 60, 90]

# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [19]:
numbers = input("Insert here the numbers: ")
numbers_list = list(numbers)
numbers_list.reverse()
print(" ".join(numbers_list))

Insert here the numbers: 456
6 5 4

# Exercise 12: Calculate income tax for the given income by adhering to the below rules

For example, suppose the taxable income is 45000 the income tax payable is

10000 * 0% + 10000 * 10%  + 25000 * 20% = $6000.

In [8]:
taxable_income = 15000

In [10]:
if taxable_income < 10000:
    print("The income tax payable is 0")
if taxable_income >= 10000 and taxable_income < 25000:
    income_tax_payable_10 = taxable_income * 10 // 100
    print("The income tax payable is", income_tax_payable_10)
if taxable_income > 25000:
    income_tax_payable_10 = taxable_income * 10 // 100
    income_tax_payable_20 = taxable_income * 20 // 100
    result = income_tax_payable_10 + income_tax_payable_20
    print("The income tax payable is", result)

The income tax payable is 1500

# Exercise 13: Print multiplication table form 1 to 10

### Expected output:

In [ ]:
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [22]:
for num in range(1, 11):
    for x in range(1, 11):
        print(num * x, end = " ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

In [ ]:
* * * * *  
* * * *  
* * *  
* *  
*

In [26]:
for x in range(6, 0, -1):
    for y in range(0, x - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

# Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

In [38]:
def exponent(base, exp):
    for x in range(exp + 1):
        result = base ** x
    return result

In [40]:
exponent(5,4)

625